<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles.css">
  <link rel="preconnect" href="//fonts.googleapis.com">
  <link rel="preconnect" href="//fonts.gstatic.com" crossorigin>
  <link href="//fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=PT+Serif:wght@400&display=swap" rel="stylesheet">
  <title>Компоненты</title>
</head>
<body>

<h1 class="text-center">Документация по компонентам</h1>

<div class="container">
  <p><b>Paragraph</b>: <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad assumenda atque, dignissimos earum harum itaque mollitia nesciunt nihil perspiciatis, saepe tempora temporibus. Autem consectetur, debitis dolore iste quisquam voluptatem.</span><span>Aliquam dolore in molestiae temporibus. Hic modi non numquam! Ab atque deserunt dicta eaque eos harum inventore iure, maxime minima mollitia, obcaecati pariatur quae saepe sint suscipit totam ut veritatis.</span></p>
  <div class="row">
    <div class="col-12 col-md-6">
      <h4 class="text-center">Alerts</h4>
      <div class="alert alert-primary">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet assumenda atque ea eius eligendi est fugiat illo inventore laudantium magnam natus obcaecati perferendis quaerat repellat sapiente, sed tenetur vero?
      </div>
    </div>
    <div class="col-12 col-md-6">

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <h4 class="text-center">Badges</h4>
      <h1>Пример заголовока <span class="badge bg-primary ">Новый</span></h1>
      <h2>Пример заголовока <span class="badge bg-primary">Новый</span></h2>
      <h3>Пример заголовока <span class="badge bg-primary">Новый</span></h3>
      <h4>Пример заголовока <span class="badge bg-primary">Новый</span></h4>
      <h5>Пример заголовока <span class="badge bg-primary">Новый</span></h5>
      <h6>Пример заголовока <span class="badge bg-primary">Новый</span></h6>
    </div>
    <div class="col-12 col-md-6">
      <span class="badge bg-primary">Primary</span>
      <span class="badge bg-secondary">Secondary</span>
      <span class="badge bg-success">Success</span>
      <span class="badge bg-danger">Danger</span>
      <span class="badge bg-warning text-dark">Warning</span>
      <span class="badge bg-info text-dark">Info</span>
      <span class="badge bg-light text-dark">Light</span>
      <span class="badge bg-dark">Dark</span>
    </div>
  </div>
</div>
<div class="container">
  <div class="row my-5">
    <div class="col-1">1</div>
    <div class="col-1">2</div>
    <div class="col-1">3</div>
    <div class="col-1">4</div>
    <div class="col-1">5</div>
    <div class="col-1">6</div>
    <div class="col-1">7</div>
    <div class="col-1">8</div>
    <div class="col-1">9</div>
    <div class="col-1">10</div>
    <div class="col-1">11</div>
    <div class="col-1">12</div>
  </div>
</div>

<section class="block-shift-img block-right-img-shift block-shift-img__outer-title">
  <div class="container">
    <div class="block-shift__grid">
      <h3 class="block-shift__title">О дистрибьюторе</h3>
      <div class="block-shift__desc">
        <p>Поддержание полного ассортимента товаров и зап частей в наличии на собственном складском комплексе площадью более 1500 м<sup>2</sup> позволяет комплектовать заказы любой сложности в самые короткие сроки.</p>
        <p>Региональным покупателям бесплатно доставим товар до терминалов транспортноых компаний в г. Москве.</p>
        <p>Услуги гарантийного и постгарантийного обслужвания, ремонтные работы по замене зап. частей осуществляет Сервисная служба ГК Электропомпа.</p>
      </div>
      <div class="block-shift__img">
        <img src="/img-examples/sklad.jpg" alt="Склад ГК Электропомпа">
      </div>
    </div>
  </div>
</section>

<section class="block-shift-img block-left-img-shift block-shift-img__outer-title">
  <div class="container">
    <div class="block-shift__grid">
      <h3 class="block-shift__title">О дистрибьюторе</h3>
      <div class="block-shift__desc">
        <p>Поддержание полного ассортимента товаров и зап частей в наличии на собственном складском комплексе площадью более 1500 м<sup>2</sup> позволяет комплектовать заказы любой сложности в самые короткие сроки.</p>
        <p>Региональным покупателям бесплатно доставим товар до терминалов транспортноых компаний в г. Москве.</p>
        <p>Услуги гарантийного и постгарантийного обслужвания, ремонтные работы по замене зап. частей осуществляет Сервисная служба ГК Электропомпа.</p>
      </div>
      <div class="block-shift__img">
        <img src="/img-examples/sklad.jpg" alt="Склад ГК Электропомпа">
      </div>
    </div>
  </div>
</section>

<section class="block-shift-img block-right-img-shift block-shift-img__inner-title">
  <div class="container">
    <div class="block-shift__grid">
      <div class="block-shift__desc">
        <h1 class="h3 block-shift__title">Сервисный центр</h1>
        <p>По факту неисправности мембранного бака вы можете обратиться в наш Сервисный центр.</p>
        <p>Мы выполняем сервисные работы по замене мембраны, фланца, покраске гидроаккумуляторов и т.д.</p>
        <p>Вы всегда можете получить консультацию по вопросам гарантийного/пост гарантийного обслуживания, монтажа, эксплуатации оборудования, замене зап частей и т.д. у наших сервисных специалистов по тел. 8 800 100 00 77 в рабочее время.</p>
      </div>
      <div class="block-shift__img">
        <img src="/img-examples/service.webp" alt="Сервисный цент Zilmet">
      </div>
    </div>
  </div>
</section>

<section class="block-shift-img block-left-img-shift block-shift-img__inner-title">
  <div class="container">
    <div class="block-shift__grid">
      <div class="block-shift__desc">
        <h1 class="h3 block-shift__title">Сервисный центр</h1>
        <p>По факту неисправности мембранного бака вы можете обратиться в наш Сервисный центр.</p>
        <p>Мы выполняем сервисные работы по замене мембраны, фланца, покраске гидроаккумуляторов и т.д.</p>
        <p>Вы всегда можете получить консультацию по вопросам гарантийного/пост гарантийного обслуживания, монтажа, эксплуатации оборудования, замене зап частей и т.д. у наших сервисных специалистов по тел. 8 800 100 00 77 в рабочее время.</p>
      </div>
      <div class="block-shift__img">
        <img src="/img-examples/service.webp" alt="Сервисный цент Zilmet">
      </div>
    </div>
  </div>
</section>


</body>
</html>
