img {
  max-width: 100%; }

input:focus, button:focus {
  outline: none; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  background: transparent;
  border-radius: 0; }
  input:focus, input:active {
    border-radius: 0; }

button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0; }

*:focus, *:active {
  outline: none; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.33em; }

sub {
  bottom: -0.25em; }

:root {
  --white: white;
  --gray-600: #4b5563;
  --gray-800: #1f2937; }

p, span {
  color: var(--color-gray-400); }

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px; }
  @media (min-width: 576px) {
    .container {
      max-width: 552px;
      padding-left: 12px;
      padding-right: 12px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 738px;
      padding-left: 15px;
      padding-right: 15px; } }
  @media (min-width: 1024px) {
    .container {
      max-width: 992px;
      padding-left: 16px;
      padding-right: 16px; } }
  @media (min-width: 1400px) {
    .container {
      max-width: 1366px;
      padding-left: 17px;
      padding-right: 17px; } }
  @media (min-width: 1500px) {
    .container {
      max-width: 1464px;
      padding-left: 18px;
      padding-right: 18px; } }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px; }
  @media (min-width: 576px) {
    .row {
      margin-left: -12px;
      margin-right: -12px; } }
  @media (min-width: 768px) {
    .row {
      margin-left: -15px;
      margin-right: -15px; } }
  @media (min-width: 1024px) {
    .row {
      margin-left: -16px;
      margin-right: -16px; } }
  @media (min-width: 1400px) {
    .row {
      margin-left: -17px;
      margin-right: -17px; } }
  @media (min-width: 1500px) {
    .row {
      margin-left: -18px;
      margin-right: -18px; } }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

@media (min-width: 576px) {
  .col-sm-1 {
    display: block;
    width: 8.33333%; } }

@media (min-width: 576px) {
  .col-sm-2 {
    display: block;
    width: 16.66667%; } }

@media (min-width: 576px) {
  .col-sm-3 {
    display: block;
    width: 25%; } }

@media (min-width: 576px) {
  .col-sm-4 {
    display: block;
    width: 33.33333%; } }

@media (min-width: 576px) {
  .col-sm-5 {
    display: block;
    width: 41.66667%; } }

@media (min-width: 576px) {
  .col-sm-6 {
    display: block;
    width: 50%; } }

@media (min-width: 576px) {
  .col-sm-7 {
    display: block;
    width: 58.33333%; } }

@media (min-width: 576px) {
  .col-sm-8 {
    display: block;
    width: 66.66667%; } }

@media (min-width: 576px) {
  .col-sm-9 {
    display: block;
    width: 75%; } }

@media (min-width: 576px) {
  .col-sm-10 {
    display: block;
    width: 83.33333%; } }

@media (min-width: 576px) {
  .col-sm-11 {
    display: block;
    width: 91.66667%; } }

@media (min-width: 576px) {
  .col-sm-12 {
    display: block;
    width: 100%; } }

@media (min-width: 768px) {
  .col-md-1 {
    display: block;
    width: 8.33333%; } }

@media (min-width: 768px) {
  .col-md-2 {
    display: block;
    width: 16.66667%; } }

@media (min-width: 768px) {
  .col-md-3 {
    display: block;
    width: 25%; } }

@media (min-width: 768px) {
  .col-md-4 {
    display: block;
    width: 33.33333%; } }

@media (min-width: 768px) {
  .col-md-5 {
    display: block;
    width: 41.66667%; } }

@media (min-width: 768px) {
  .col-md-6 {
    display: block;
    width: 50%; } }

@media (min-width: 768px) {
  .col-md-7 {
    display: block;
    width: 58.33333%; } }

@media (min-width: 768px) {
  .col-md-8 {
    display: block;
    width: 66.66667%; } }

@media (min-width: 768px) {
  .col-md-9 {
    display: block;
    width: 75%; } }

@media (min-width: 768px) {
  .col-md-10 {
    display: block;
    width: 83.33333%; } }

@media (min-width: 768px) {
  .col-md-11 {
    display: block;
    width: 91.66667%; } }

@media (min-width: 768px) {
  .col-md-12 {
    display: block;
    width: 100%; } }

@media (min-width: 1024px) {
  .col-lg-1 {
    display: block;
    width: 8.33333%; } }

@media (min-width: 1024px) {
  .col-lg-2 {
    display: block;
    width: 16.66667%; } }

@media (min-width: 1024px) {
  .col-lg-3 {
    display: block;
    width: 25%; } }

@media (min-width: 1024px) {
  .col-lg-4 {
    display: block;
    width: 33.33333%; } }

@media (min-width: 1024px) {
  .col-lg-5 {
    display: block;
    width: 41.66667%; } }

@media (min-width: 1024px) {
  .col-lg-6 {
    display: block;
    width: 50%; } }

@media (min-width: 1024px) {
  .col-lg-7 {
    display: block;
    width: 58.33333%; } }

@media (min-width: 1024px) {
  .col-lg-8 {
    display: block;
    width: 66.66667%; } }

@media (min-width: 1024px) {
  .col-lg-9 {
    display: block;
    width: 75%; } }

@media (min-width: 1024px) {
  .col-lg-10 {
    display: block;
    width: 83.33333%; } }

@media (min-width: 1024px) {
  .col-lg-11 {
    display: block;
    width: 91.66667%; } }

@media (min-width: 1024px) {
  .col-lg-12 {
    display: block;
    width: 100%; } }

@media (min-width: 1400px) {
  .col-xl-1 {
    display: block;
    width: 8.33333%; } }

@media (min-width: 1400px) {
  .col-xl-2 {
    display: block;
    width: 16.66667%; } }

@media (min-width: 1400px) {
  .col-xl-3 {
    display: block;
    width: 25%; } }

@media (min-width: 1400px) {
  .col-xl-4 {
    display: block;
    width: 33.33333%; } }

@media (min-width: 1400px) {
  .col-xl-5 {
    display: block;
    width: 41.66667%; } }

@media (min-width: 1400px) {
  .col-xl-6 {
    display: block;
    width: 50%; } }

@media (min-width: 1400px) {
  .col-xl-7 {
    display: block;
    width: 58.33333%; } }

@media (min-width: 1400px) {
  .col-xl-8 {
    display: block;
    width: 66.66667%; } }

@media (min-width: 1400px) {
  .col-xl-9 {
    display: block;
    width: 75%; } }

@media (min-width: 1400px) {
  .col-xl-10 {
    display: block;
    width: 83.33333%; } }

@media (min-width: 1400px) {
  .col-xl-11 {
    display: block;
    width: 91.66667%; } }

@media (min-width: 1400px) {
  .col-xl-12 {
    display: block;
    width: 100%; } }

@media (min-width: 1500px) {
  .col-xxl-1 {
    display: block;
    width: 8.33333%; } }

@media (min-width: 1500px) {
  .col-xxl-2 {
    display: block;
    width: 16.66667%; } }

@media (min-width: 1500px) {
  .col-xxl-3 {
    display: block;
    width: 25%; } }

@media (min-width: 1500px) {
  .col-xxl-4 {
    display: block;
    width: 33.33333%; } }

@media (min-width: 1500px) {
  .col-xxl-5 {
    display: block;
    width: 41.66667%; } }

@media (min-width: 1500px) {
  .col-xxl-6 {
    display: block;
    width: 50%; } }

@media (min-width: 1500px) {
  .col-xxl-7 {
    display: block;
    width: 58.33333%; } }

@media (min-width: 1500px) {
  .col-xxl-8 {
    display: block;
    width: 66.66667%; } }

@media (min-width: 1500px) {
  .col-xxl-9 {
    display: block;
    width: 75%; } }

@media (min-width: 1500px) {
  .col-xxl-10 {
    display: block;
    width: 83.33333%; } }

@media (min-width: 1500px) {
  .col-xxl-11 {
    display: block;
    width: 91.66667%; } }

@media (min-width: 1500px) {
  .col-xxl-12 {
    display: block;
    width: 100%; } }

@media (min-width: 0) {
  [class^="col-"] {
    padding-left: 10px;
    padding-right: 10px; } }

@media (min-width: 576px) {
  [class^="col-"] {
    padding-left: 12px;
    padding-right: 12px; } }

@media (min-width: 768px) {
  [class^="col-"] {
    padding-left: 15px;
    padding-right: 15px; } }

@media (min-width: 1024px) {
  [class^="col-"] {
    padding-left: 16px;
    padding-right: 16px; } }

@media (min-width: 1400px) {
  [class^="col-"] {
    padding-left: 17px;
    padding-right: 17px; } }

@media (min-width: 1500px) {
  [class^="col-"] {
    padding-left: 18px;
    padding-right: 18px; } }

.col {
  flex: 1 0 0; }

[class*="col-"] {
  display: block; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-5 {
  margin-left: 41.66667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.33333%; }

.offset-8 {
  margin-left: 66.66667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.33333%; }

.offset-11 {
  margin-left: 91.66667%; }

@media (min-width: 576px) {
  .offset-sm-1 {
    margin-left: 8.33333%; } }

@media (min-width: 576px) {
  .offset-sm-2 {
    margin-left: 16.66667%; } }

@media (min-width: 576px) {
  .offset-sm-3 {
    margin-left: 25%; } }

@media (min-width: 576px) {
  .offset-sm-4 {
    margin-left: 33.33333%; } }

@media (min-width: 576px) {
  .offset-sm-5 {
    margin-left: 41.66667%; } }

@media (min-width: 576px) {
  .offset-sm-6 {
    margin-left: 50%; } }

@media (min-width: 576px) {
  .offset-sm-7 {
    margin-left: 58.33333%; } }

@media (min-width: 576px) {
  .offset-sm-8 {
    margin-left: 66.66667%; } }

@media (min-width: 576px) {
  .offset-sm-9 {
    margin-left: 75%; } }

@media (min-width: 576px) {
  .offset-sm-10 {
    margin-left: 83.33333%; } }

@media (min-width: 576px) {
  .offset-sm-11 {
    margin-left: 91.66667%; } }

@media (min-width: 768px) {
  .offset-md-1 {
    margin-left: 8.33333%; } }

@media (min-width: 768px) {
  .offset-md-2 {
    margin-left: 16.66667%; } }

@media (min-width: 768px) {
  .offset-md-3 {
    margin-left: 25%; } }

@media (min-width: 768px) {
  .offset-md-4 {
    margin-left: 33.33333%; } }

@media (min-width: 768px) {
  .offset-md-5 {
    margin-left: 41.66667%; } }

@media (min-width: 768px) {
  .offset-md-6 {
    margin-left: 50%; } }

@media (min-width: 768px) {
  .offset-md-7 {
    margin-left: 58.33333%; } }

@media (min-width: 768px) {
  .offset-md-8 {
    margin-left: 66.66667%; } }

@media (min-width: 768px) {
  .offset-md-9 {
    margin-left: 75%; } }

@media (min-width: 768px) {
  .offset-md-10 {
    margin-left: 83.33333%; } }

@media (min-width: 768px) {
  .offset-md-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1024px) {
  .offset-lg-1 {
    margin-left: 8.33333%; } }

@media (min-width: 1024px) {
  .offset-lg-2 {
    margin-left: 16.66667%; } }

@media (min-width: 1024px) {
  .offset-lg-3 {
    margin-left: 25%; } }

@media (min-width: 1024px) {
  .offset-lg-4 {
    margin-left: 33.33333%; } }

@media (min-width: 1024px) {
  .offset-lg-5 {
    margin-left: 41.66667%; } }

@media (min-width: 1024px) {
  .offset-lg-6 {
    margin-left: 50%; } }

@media (min-width: 1024px) {
  .offset-lg-7 {
    margin-left: 58.33333%; } }

@media (min-width: 1024px) {
  .offset-lg-8 {
    margin-left: 66.66667%; } }

@media (min-width: 1024px) {
  .offset-lg-9 {
    margin-left: 75%; } }

@media (min-width: 1024px) {
  .offset-lg-10 {
    margin-left: 83.33333%; } }

@media (min-width: 1024px) {
  .offset-lg-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1400px) {
  .offset-xl-1 {
    margin-left: 8.33333%; } }

@media (min-width: 1400px) {
  .offset-xl-2 {
    margin-left: 16.66667%; } }

@media (min-width: 1400px) {
  .offset-xl-3 {
    margin-left: 25%; } }

@media (min-width: 1400px) {
  .offset-xl-4 {
    margin-left: 33.33333%; } }

@media (min-width: 1400px) {
  .offset-xl-5 {
    margin-left: 41.66667%; } }

@media (min-width: 1400px) {
  .offset-xl-6 {
    margin-left: 50%; } }

@media (min-width: 1400px) {
  .offset-xl-7 {
    margin-left: 58.33333%; } }

@media (min-width: 1400px) {
  .offset-xl-8 {
    margin-left: 66.66667%; } }

@media (min-width: 1400px) {
  .offset-xl-9 {
    margin-left: 75%; } }

@media (min-width: 1400px) {
  .offset-xl-10 {
    margin-left: 83.33333%; } }

@media (min-width: 1400px) {
  .offset-xl-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1500px) {
  .offset-xxl-1 {
    margin-left: 8.33333%; } }

@media (min-width: 1500px) {
  .offset-xxl-2 {
    margin-left: 16.66667%; } }

@media (min-width: 1500px) {
  .offset-xxl-3 {
    margin-left: 25%; } }

@media (min-width: 1500px) {
  .offset-xxl-4 {
    margin-left: 33.33333%; } }

@media (min-width: 1500px) {
  .offset-xxl-5 {
    margin-left: 41.66667%; } }

@media (min-width: 1500px) {
  .offset-xxl-6 {
    margin-left: 50%; } }

@media (min-width: 1500px) {
  .offset-xxl-7 {
    margin-left: 58.33333%; } }

@media (min-width: 1500px) {
  .offset-xxl-8 {
    margin-left: 66.66667%; } }

@media (min-width: 1500px) {
  .offset-xxl-9 {
    margin-left: 75%; } }

@media (min-width: 1500px) {
  .offset-xxl-10 {
    margin-left: 83.33333%; } }

@media (min-width: 1500px) {
  .offset-xxl-11 {
    margin-left: 91.66667%; } }

.white-bg-wrapper {
  background: white;
  padding: 40px 60px; }

.bg-black {
  background-color: #161D26;
  color: white; }

.bg-white {
  background-color: white; }

.bg-accent {
  background-color: #ff5262; }

.border-top {
  border-top: 1px solid #6b7280; }

.list-unstyled {
  list-style: none; }

ul.list-inline li {
  display: inline-block; }

.m-0 {
  margin: 0 !important; }

.mt-0,
.my-0 {
  margin-top: 0 !important; }

.mb-0,
.my-0 {
  margin-bottom: 0 !important; }

.mr-0,
.mx-0 {
  margin-right: 0 !important; }

.ml-0,
.mx-0 {
  margin-left: 0 !important; }

.m-1 {
  margin: 0.25rem !important; }

.mt-1,
.my-1 {
  margin-top: 0.25rem !important; }

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important; }

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important; }

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important; }

.m-2 {
  margin: 0.5rem !important; }

.mt-2,
.my-2 {
  margin-top: 0.5rem !important; }

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important; }

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important; }

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important; }

.m-3 {
  margin: 1rem !important; }

.mt-3,
.my-3 {
  margin-top: 1rem !important; }

.mb-3,
.my-3 {
  margin-bottom: 1rem !important; }

.mr-3,
.mx-3 {
  margin-right: 1rem !important; }

.ml-3,
.mx-3 {
  margin-left: 1rem !important; }

.m-4 {
  margin: 1.5rem !important; }

.mt-4,
.my-4 {
  margin-top: 1.5rem !important; }

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important; }

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important; }

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important; }

.m-5 {
  margin: 3rem !important; }

.mt-5,
.my-5 {
  margin-top: 3rem !important; }

.mb-5,
.my-5 {
  margin-bottom: 3rem !important; }

.mr-5,
.mx-5 {
  margin-right: 3rem !important; }

.ml-5,
.mx-5 {
  margin-left: 3rem !important; }

.p-0 {
  padding: 0 !important; }

.pt-0,
.py-0 {
  padding-top: 0 !important; }

.pb-0,
.py-0 {
  padding-bottom: 0 !important; }

.pr-0,
.px-0 {
  padding-right: 0 !important; }

.pl-0,
.px-0 {
  padding-left: 0 !important; }

.p-1 {
  padding: 0.25rem !important; }

.pt-1,
.py-1 {
  padding-top: 0.25rem !important; }

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important; }

.pr-1,
.px-1 {
  padding-right: 0.25rem !important; }

.pl-1,
.px-1 {
  padding-left: 0.25rem !important; }

.p-2 {
  padding: 0.5rem !important; }

.pt-2,
.py-2 {
  padding-top: 0.5rem !important; }

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important; }

.pr-2,
.px-2 {
  padding-right: 0.5rem !important; }

.pl-2,
.px-2 {
  padding-left: 0.5rem !important; }

.p-3 {
  padding: 1rem !important; }

.pt-3,
.py-3 {
  padding-top: 1rem !important; }

.pb-3,
.py-3 {
  padding-bottom: 1rem !important; }

.pr-3,
.px-3 {
  padding-right: 1rem !important; }

.pl-3,
.px-3 {
  padding-left: 1rem !important; }

.p-4 {
  padding: 1.5rem !important; }

.pt-4,
.py-4 {
  padding-top: 1.5rem !important; }

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important; }

.pr-4,
.px-4 {
  padding-right: 1.5rem !important; }

.pl-4,
.px-4 {
  padding-left: 1.5rem !important; }

.p-5 {
  padding: 3rem !important; }

.pt-5,
.py-5 {
  padding-top: 3rem !important; }

.pb-5,
.py-5 {
  padding-bottom: 3rem !important; }

.pr-5,
.px-5 {
  padding-right: 3rem !important; }

.pl-5,
.px-5 {
  padding-left: 3rem !important; }

@media (min-width: 576px) {
  .m-sm-0 {
    margin: 0 !important; }
  .mt-sm-0,
  .my-sm-0 {
    margin-top: 0 !important; }
  .mb-sm-0,
  .my-sm-0 {
    margin-bottom: 0 !important; }
  .mr-sm-0,
  .mx-sm-0 {
    margin-right: 0 !important; }
  .ml-sm-0,
  .mx-sm-0 {
    margin-left: 0 !important; } }

@media (min-width: 576px) {
  .m-sm-1 {
    margin: 0.25rem !important; }
  .mt-sm-1,
  .my-sm-1 {
    margin-top: 0.25rem !important; }
  .mb-sm-1,
  .my-sm-1 {
    margin-bottom: 0.25rem !important; }
  .mr-sm-1,
  .mx-sm-1 {
    margin-right: 0.25rem !important; }
  .ml-sm-1,
  .mx-sm-1 {
    margin-left: 0.25rem !important; } }

@media (min-width: 576px) {
  .m-sm-2 {
    margin: 0.5rem !important; }
  .mt-sm-2,
  .my-sm-2 {
    margin-top: 0.5rem !important; }
  .mb-sm-2,
  .my-sm-2 {
    margin-bottom: 0.5rem !important; }
  .mr-sm-2,
  .mx-sm-2 {
    margin-right: 0.5rem !important; }
  .ml-sm-2,
  .mx-sm-2 {
    margin-left: 0.5rem !important; } }

@media (min-width: 576px) {
  .m-sm-3 {
    margin: 1rem !important; }
  .mt-sm-3,
  .my-sm-3 {
    margin-top: 1rem !important; }
  .mb-sm-3,
  .my-sm-3 {
    margin-bottom: 1rem !important; }
  .mr-sm-3,
  .mx-sm-3 {
    margin-right: 1rem !important; }
  .ml-sm-3,
  .mx-sm-3 {
    margin-left: 1rem !important; } }

@media (min-width: 576px) {
  .m-sm-4 {
    margin: 1.5rem !important; }
  .mt-sm-4,
  .my-sm-4 {
    margin-top: 1.5rem !important; }
  .mb-sm-4,
  .my-sm-4 {
    margin-bottom: 1.5rem !important; }
  .mr-sm-4,
  .mx-sm-4 {
    margin-right: 1.5rem !important; }
  .ml-sm-4,
  .mx-sm-4 {
    margin-left: 1.5rem !important; } }

@media (min-width: 576px) {
  .m-sm-5 {
    margin: 3rem !important; }
  .mt-sm-5,
  .my-sm-5 {
    margin-top: 3rem !important; }
  .mb-sm-5,
  .my-sm-5 {
    margin-bottom: 3rem !important; }
  .mr-sm-5,
  .mx-sm-5 {
    margin-right: 3rem !important; }
  .ml-sm-5,
  .mx-sm-5 {
    margin-left: 3rem !important; } }

@media (min-width: 576px) {
  .p-sm-0 {
    padding: 0 !important; }
  .pt-sm-0,
  .py-sm-0 {
    padding-top: 0 !important; }
  .pb-sm-0,
  .py-sm-0 {
    padding-bottom: 0 !important; }
  .pr-sm-0,
  .px-sm-0 {
    padding-right: 0 !important; }
  .pl-sm-0,
  .px-sm-0 {
    padding-left: 0 !important; } }

@media (min-width: 576px) {
  .p-sm-1 {
    padding: 0.25rem !important; }
  .pt-sm-1,
  .py-sm-1 {
    padding-top: 0.25rem !important; }
  .pb-sm-1,
  .py-sm-1 {
    padding-bottom: 0.25rem !important; }
  .pr-sm-1,
  .px-sm-1 {
    padding-right: 0.25rem !important; }
  .pl-sm-1,
  .px-sm-1 {
    padding-left: 0.25rem !important; } }

@media (min-width: 576px) {
  .p-sm-2 {
    padding: 0.5rem !important; }
  .pt-sm-2,
  .py-sm-2 {
    padding-top: 0.5rem !important; }
  .pb-sm-2,
  .py-sm-2 {
    padding-bottom: 0.5rem !important; }
  .pr-sm-2,
  .px-sm-2 {
    padding-right: 0.5rem !important; }
  .pl-sm-2,
  .px-sm-2 {
    padding-left: 0.5rem !important; } }

@media (min-width: 576px) {
  .p-sm-3 {
    padding: 1rem !important; }
  .pt-sm-3,
  .py-sm-3 {
    padding-top: 1rem !important; }
  .pb-sm-3,
  .py-sm-3 {
    padding-bottom: 1rem !important; }
  .pr-sm-3,
  .px-sm-3 {
    padding-right: 1rem !important; }
  .pl-sm-3,
  .px-sm-3 {
    padding-left: 1rem !important; } }

@media (min-width: 576px) {
  .p-sm-4 {
    padding: 1.5rem !important; }
  .pt-sm-4,
  .py-sm-4 {
    padding-top: 1.5rem !important; }
  .pb-sm-4,
  .py-sm-4 {
    padding-bottom: 1.5rem !important; }
  .pr-sm-4,
  .px-sm-4 {
    padding-right: 1.5rem !important; }
  .pl-sm-4,
  .px-sm-4 {
    padding-left: 1.5rem !important; } }

@media (min-width: 576px) {
  .p-sm-5 {
    padding: 3rem !important; }
  .pt-sm-5,
  .py-sm-5 {
    padding-top: 3rem !important; }
  .pb-sm-5,
  .py-sm-5 {
    padding-bottom: 3rem !important; }
  .pr-sm-5,
  .px-sm-5 {
    padding-right: 3rem !important; }
  .pl-sm-5,
  .px-sm-5 {
    padding-left: 3rem !important; } }

@media (min-width: 768px) {
  .m-md-0 {
    margin: 0 !important; }
  .mt-md-0,
  .my-md-0 {
    margin-top: 0 !important; }
  .mb-md-0,
  .my-md-0 {
    margin-bottom: 0 !important; }
  .mr-md-0,
  .mx-md-0 {
    margin-right: 0 !important; }
  .ml-md-0,
  .mx-md-0 {
    margin-left: 0 !important; } }

@media (min-width: 768px) {
  .m-md-1 {
    margin: 0.25rem !important; }
  .mt-md-1,
  .my-md-1 {
    margin-top: 0.25rem !important; }
  .mb-md-1,
  .my-md-1 {
    margin-bottom: 0.25rem !important; }
  .mr-md-1,
  .mx-md-1 {
    margin-right: 0.25rem !important; }
  .ml-md-1,
  .mx-md-1 {
    margin-left: 0.25rem !important; } }

@media (min-width: 768px) {
  .m-md-2 {
    margin: 0.5rem !important; }
  .mt-md-2,
  .my-md-2 {
    margin-top: 0.5rem !important; }
  .mb-md-2,
  .my-md-2 {
    margin-bottom: 0.5rem !important; }
  .mr-md-2,
  .mx-md-2 {
    margin-right: 0.5rem !important; }
  .ml-md-2,
  .mx-md-2 {
    margin-left: 0.5rem !important; } }

@media (min-width: 768px) {
  .m-md-3 {
    margin: 1rem !important; }
  .mt-md-3,
  .my-md-3 {
    margin-top: 1rem !important; }
  .mb-md-3,
  .my-md-3 {
    margin-bottom: 1rem !important; }
  .mr-md-3,
  .mx-md-3 {
    margin-right: 1rem !important; }
  .ml-md-3,
  .mx-md-3 {
    margin-left: 1rem !important; } }

@media (min-width: 768px) {
  .m-md-4 {
    margin: 1.5rem !important; }
  .mt-md-4,
  .my-md-4 {
    margin-top: 1.5rem !important; }
  .mb-md-4,
  .my-md-4 {
    margin-bottom: 1.5rem !important; }
  .mr-md-4,
  .mx-md-4 {
    margin-right: 1.5rem !important; }
  .ml-md-4,
  .mx-md-4 {
    margin-left: 1.5rem !important; } }

@media (min-width: 768px) {
  .m-md-5 {
    margin: 3rem !important; }
  .mt-md-5,
  .my-md-5 {
    margin-top: 3rem !important; }
  .mb-md-5,
  .my-md-5 {
    margin-bottom: 3rem !important; }
  .mr-md-5,
  .mx-md-5 {
    margin-right: 3rem !important; }
  .ml-md-5,
  .mx-md-5 {
    margin-left: 3rem !important; } }

@media (min-width: 768px) {
  .p-md-0 {
    padding: 0 !important; }
  .pt-md-0,
  .py-md-0 {
    padding-top: 0 !important; }
  .pb-md-0,
  .py-md-0 {
    padding-bottom: 0 !important; }
  .pr-md-0,
  .px-md-0 {
    padding-right: 0 !important; }
  .pl-md-0,
  .px-md-0 {
    padding-left: 0 !important; } }

@media (min-width: 768px) {
  .p-md-1 {
    padding: 0.25rem !important; }
  .pt-md-1,
  .py-md-1 {
    padding-top: 0.25rem !important; }
  .pb-md-1,
  .py-md-1 {
    padding-bottom: 0.25rem !important; }
  .pr-md-1,
  .px-md-1 {
    padding-right: 0.25rem !important; }
  .pl-md-1,
  .px-md-1 {
    padding-left: 0.25rem !important; } }

@media (min-width: 768px) {
  .p-md-2 {
    padding: 0.5rem !important; }
  .pt-md-2,
  .py-md-2 {
    padding-top: 0.5rem !important; }
  .pb-md-2,
  .py-md-2 {
    padding-bottom: 0.5rem !important; }
  .pr-md-2,
  .px-md-2 {
    padding-right: 0.5rem !important; }
  .pl-md-2,
  .px-md-2 {
    padding-left: 0.5rem !important; } }

@media (min-width: 768px) {
  .p-md-3 {
    padding: 1rem !important; }
  .pt-md-3,
  .py-md-3 {
    padding-top: 1rem !important; }
  .pb-md-3,
  .py-md-3 {
    padding-bottom: 1rem !important; }
  .pr-md-3,
  .px-md-3 {
    padding-right: 1rem !important; }
  .pl-md-3,
  .px-md-3 {
    padding-left: 1rem !important; } }

@media (min-width: 768px) {
  .p-md-4 {
    padding: 1.5rem !important; }
  .pt-md-4,
  .py-md-4 {
    padding-top: 1.5rem !important; }
  .pb-md-4,
  .py-md-4 {
    padding-bottom: 1.5rem !important; }
  .pr-md-4,
  .px-md-4 {
    padding-right: 1.5rem !important; }
  .pl-md-4,
  .px-md-4 {
    padding-left: 1.5rem !important; } }

@media (min-width: 768px) {
  .p-md-5 {
    padding: 3rem !important; }
  .pt-md-5,
  .py-md-5 {
    padding-top: 3rem !important; }
  .pb-md-5,
  .py-md-5 {
    padding-bottom: 3rem !important; }
  .pr-md-5,
  .px-md-5 {
    padding-right: 3rem !important; }
  .pl-md-5,
  .px-md-5 {
    padding-left: 3rem !important; } }

@media (min-width: 1024px) {
  .m-lg-0 {
    margin: 0 !important; }
  .mt-lg-0,
  .my-lg-0 {
    margin-top: 0 !important; }
  .mb-lg-0,
  .my-lg-0 {
    margin-bottom: 0 !important; }
  .mr-lg-0,
  .mx-lg-0 {
    margin-right: 0 !important; }
  .ml-lg-0,
  .mx-lg-0 {
    margin-left: 0 !important; } }

@media (min-width: 1024px) {
  .m-lg-1 {
    margin: 0.25rem !important; }
  .mt-lg-1,
  .my-lg-1 {
    margin-top: 0.25rem !important; }
  .mb-lg-1,
  .my-lg-1 {
    margin-bottom: 0.25rem !important; }
  .mr-lg-1,
  .mx-lg-1 {
    margin-right: 0.25rem !important; }
  .ml-lg-1,
  .mx-lg-1 {
    margin-left: 0.25rem !important; } }

@media (min-width: 1024px) {
  .m-lg-2 {
    margin: 0.5rem !important; }
  .mt-lg-2,
  .my-lg-2 {
    margin-top: 0.5rem !important; }
  .mb-lg-2,
  .my-lg-2 {
    margin-bottom: 0.5rem !important; }
  .mr-lg-2,
  .mx-lg-2 {
    margin-right: 0.5rem !important; }
  .ml-lg-2,
  .mx-lg-2 {
    margin-left: 0.5rem !important; } }

@media (min-width: 1024px) {
  .m-lg-3 {
    margin: 1rem !important; }
  .mt-lg-3,
  .my-lg-3 {
    margin-top: 1rem !important; }
  .mb-lg-3,
  .my-lg-3 {
    margin-bottom: 1rem !important; }
  .mr-lg-3,
  .mx-lg-3 {
    margin-right: 1rem !important; }
  .ml-lg-3,
  .mx-lg-3 {
    margin-left: 1rem !important; } }

@media (min-width: 1024px) {
  .m-lg-4 {
    margin: 1.5rem !important; }
  .mt-lg-4,
  .my-lg-4 {
    margin-top: 1.5rem !important; }
  .mb-lg-4,
  .my-lg-4 {
    margin-bottom: 1.5rem !important; }
  .mr-lg-4,
  .mx-lg-4 {
    margin-right: 1.5rem !important; }
  .ml-lg-4,
  .mx-lg-4 {
    margin-left: 1.5rem !important; } }

@media (min-width: 1024px) {
  .m-lg-5 {
    margin: 3rem !important; }
  .mt-lg-5,
  .my-lg-5 {
    margin-top: 3rem !important; }
  .mb-lg-5,
  .my-lg-5 {
    margin-bottom: 3rem !important; }
  .mr-lg-5,
  .mx-lg-5 {
    margin-right: 3rem !important; }
  .ml-lg-5,
  .mx-lg-5 {
    margin-left: 3rem !important; } }

@media (min-width: 1024px) {
  .p-lg-0 {
    padding: 0 !important; }
  .pt-lg-0,
  .py-lg-0 {
    padding-top: 0 !important; }
  .pb-lg-0,
  .py-lg-0 {
    padding-bottom: 0 !important; }
  .pr-lg-0,
  .px-lg-0 {
    padding-right: 0 !important; }
  .pl-lg-0,
  .px-lg-0 {
    padding-left: 0 !important; } }

@media (min-width: 1024px) {
  .p-lg-1 {
    padding: 0.25rem !important; }
  .pt-lg-1,
  .py-lg-1 {
    padding-top: 0.25rem !important; }
  .pb-lg-1,
  .py-lg-1 {
    padding-bottom: 0.25rem !important; }
  .pr-lg-1,
  .px-lg-1 {
    padding-right: 0.25rem !important; }
  .pl-lg-1,
  .px-lg-1 {
    padding-left: 0.25rem !important; } }

@media (min-width: 1024px) {
  .p-lg-2 {
    padding: 0.5rem !important; }
  .pt-lg-2,
  .py-lg-2 {
    padding-top: 0.5rem !important; }
  .pb-lg-2,
  .py-lg-2 {
    padding-bottom: 0.5rem !important; }
  .pr-lg-2,
  .px-lg-2 {
    padding-right: 0.5rem !important; }
  .pl-lg-2,
  .px-lg-2 {
    padding-left: 0.5rem !important; } }

@media (min-width: 1024px) {
  .p-lg-3 {
    padding: 1rem !important; }
  .pt-lg-3,
  .py-lg-3 {
    padding-top: 1rem !important; }
  .pb-lg-3,
  .py-lg-3 {
    padding-bottom: 1rem !important; }
  .pr-lg-3,
  .px-lg-3 {
    padding-right: 1rem !important; }
  .pl-lg-3,
  .px-lg-3 {
    padding-left: 1rem !important; } }

@media (min-width: 1024px) {
  .p-lg-4 {
    padding: 1.5rem !important; }
  .pt-lg-4,
  .py-lg-4 {
    padding-top: 1.5rem !important; }
  .pb-lg-4,
  .py-lg-4 {
    padding-bottom: 1.5rem !important; }
  .pr-lg-4,
  .px-lg-4 {
    padding-right: 1.5rem !important; }
  .pl-lg-4,
  .px-lg-4 {
    padding-left: 1.5rem !important; } }

@media (min-width: 1024px) {
  .p-lg-5 {
    padding: 3rem !important; }
  .pt-lg-5,
  .py-lg-5 {
    padding-top: 3rem !important; }
  .pb-lg-5,
  .py-lg-5 {
    padding-bottom: 3rem !important; }
  .pr-lg-5,
  .px-lg-5 {
    padding-right: 3rem !important; }
  .pl-lg-5,
  .px-lg-5 {
    padding-left: 3rem !important; } }

@media (min-width: 1400px) {
  .m-xl-0 {
    margin: 0 !important; }
  .mt-xl-0,
  .my-xl-0 {
    margin-top: 0 !important; }
  .mb-xl-0,
  .my-xl-0 {
    margin-bottom: 0 !important; }
  .mr-xl-0,
  .mx-xl-0 {
    margin-right: 0 !important; }
  .ml-xl-0,
  .mx-xl-0 {
    margin-left: 0 !important; } }

@media (min-width: 1400px) {
  .m-xl-1 {
    margin: 0.25rem !important; }
  .mt-xl-1,
  .my-xl-1 {
    margin-top: 0.25rem !important; }
  .mb-xl-1,
  .my-xl-1 {
    margin-bottom: 0.25rem !important; }
  .mr-xl-1,
  .mx-xl-1 {
    margin-right: 0.25rem !important; }
  .ml-xl-1,
  .mx-xl-1 {
    margin-left: 0.25rem !important; } }

@media (min-width: 1400px) {
  .m-xl-2 {
    margin: 0.5rem !important; }
  .mt-xl-2,
  .my-xl-2 {
    margin-top: 0.5rem !important; }
  .mb-xl-2,
  .my-xl-2 {
    margin-bottom: 0.5rem !important; }
  .mr-xl-2,
  .mx-xl-2 {
    margin-right: 0.5rem !important; }
  .ml-xl-2,
  .mx-xl-2 {
    margin-left: 0.5rem !important; } }

@media (min-width: 1400px) {
  .m-xl-3 {
    margin: 1rem !important; }
  .mt-xl-3,
  .my-xl-3 {
    margin-top: 1rem !important; }
  .mb-xl-3,
  .my-xl-3 {
    margin-bottom: 1rem !important; }
  .mr-xl-3,
  .mx-xl-3 {
    margin-right: 1rem !important; }
  .ml-xl-3,
  .mx-xl-3 {
    margin-left: 1rem !important; } }

@media (min-width: 1400px) {
  .m-xl-4 {
    margin: 1.5rem !important; }
  .mt-xl-4,
  .my-xl-4 {
    margin-top: 1.5rem !important; }
  .mb-xl-4,
  .my-xl-4 {
    margin-bottom: 1.5rem !important; }
  .mr-xl-4,
  .mx-xl-4 {
    margin-right: 1.5rem !important; }
  .ml-xl-4,
  .mx-xl-4 {
    margin-left: 1.5rem !important; } }

@media (min-width: 1400px) {
  .m-xl-5 {
    margin: 3rem !important; }
  .mt-xl-5,
  .my-xl-5 {
    margin-top: 3rem !important; }
  .mb-xl-5,
  .my-xl-5 {
    margin-bottom: 3rem !important; }
  .mr-xl-5,
  .mx-xl-5 {
    margin-right: 3rem !important; }
  .ml-xl-5,
  .mx-xl-5 {
    margin-left: 3rem !important; } }

@media (min-width: 1400px) {
  .p-xl-0 {
    padding: 0 !important; }
  .pt-xl-0,
  .py-xl-0 {
    padding-top: 0 !important; }
  .pb-xl-0,
  .py-xl-0 {
    padding-bottom: 0 !important; }
  .pr-xl-0,
  .px-xl-0 {
    padding-right: 0 !important; }
  .pl-xl-0,
  .px-xl-0 {
    padding-left: 0 !important; } }

@media (min-width: 1400px) {
  .p-xl-1 {
    padding: 0.25rem !important; }
  .pt-xl-1,
  .py-xl-1 {
    padding-top: 0.25rem !important; }
  .pb-xl-1,
  .py-xl-1 {
    padding-bottom: 0.25rem !important; }
  .pr-xl-1,
  .px-xl-1 {
    padding-right: 0.25rem !important; }
  .pl-xl-1,
  .px-xl-1 {
    padding-left: 0.25rem !important; } }

@media (min-width: 1400px) {
  .p-xl-2 {
    padding: 0.5rem !important; }
  .pt-xl-2,
  .py-xl-2 {
    padding-top: 0.5rem !important; }
  .pb-xl-2,
  .py-xl-2 {
    padding-bottom: 0.5rem !important; }
  .pr-xl-2,
  .px-xl-2 {
    padding-right: 0.5rem !important; }
  .pl-xl-2,
  .px-xl-2 {
    padding-left: 0.5rem !important; } }

@media (min-width: 1400px) {
  .p-xl-3 {
    padding: 1rem !important; }
  .pt-xl-3,
  .py-xl-3 {
    padding-top: 1rem !important; }
  .pb-xl-3,
  .py-xl-3 {
    padding-bottom: 1rem !important; }
  .pr-xl-3,
  .px-xl-3 {
    padding-right: 1rem !important; }
  .pl-xl-3,
  .px-xl-3 {
    padding-left: 1rem !important; } }

@media (min-width: 1400px) {
  .p-xl-4 {
    padding: 1.5rem !important; }
  .pt-xl-4,
  .py-xl-4 {
    padding-top: 1.5rem !important; }
  .pb-xl-4,
  .py-xl-4 {
    padding-bottom: 1.5rem !important; }
  .pr-xl-4,
  .px-xl-4 {
    padding-right: 1.5rem !important; }
  .pl-xl-4,
  .px-xl-4 {
    padding-left: 1.5rem !important; } }

@media (min-width: 1400px) {
  .p-xl-5 {
    padding: 3rem !important; }
  .pt-xl-5,
  .py-xl-5 {
    padding-top: 3rem !important; }
  .pb-xl-5,
  .py-xl-5 {
    padding-bottom: 3rem !important; }
  .pr-xl-5,
  .px-xl-5 {
    padding-right: 3rem !important; }
  .pl-xl-5,
  .px-xl-5 {
    padding-left: 3rem !important; } }

@media (min-width: 1500px) {
  .m-xxl-0 {
    margin: 0 !important; }
  .mt-xxl-0,
  .my-xxl-0 {
    margin-top: 0 !important; }
  .mb-xxl-0,
  .my-xxl-0 {
    margin-bottom: 0 !important; }
  .mr-xxl-0,
  .mx-xxl-0 {
    margin-right: 0 !important; }
  .ml-xxl-0,
  .mx-xxl-0 {
    margin-left: 0 !important; } }

@media (min-width: 1500px) {
  .m-xxl-1 {
    margin: 0.25rem !important; }
  .mt-xxl-1,
  .my-xxl-1 {
    margin-top: 0.25rem !important; }
  .mb-xxl-1,
  .my-xxl-1 {
    margin-bottom: 0.25rem !important; }
  .mr-xxl-1,
  .mx-xxl-1 {
    margin-right: 0.25rem !important; }
  .ml-xxl-1,
  .mx-xxl-1 {
    margin-left: 0.25rem !important; } }

@media (min-width: 1500px) {
  .m-xxl-2 {
    margin: 0.5rem !important; }
  .mt-xxl-2,
  .my-xxl-2 {
    margin-top: 0.5rem !important; }
  .mb-xxl-2,
  .my-xxl-2 {
    margin-bottom: 0.5rem !important; }
  .mr-xxl-2,
  .mx-xxl-2 {
    margin-right: 0.5rem !important; }
  .ml-xxl-2,
  .mx-xxl-2 {
    margin-left: 0.5rem !important; } }

@media (min-width: 1500px) {
  .m-xxl-3 {
    margin: 1rem !important; }
  .mt-xxl-3,
  .my-xxl-3 {
    margin-top: 1rem !important; }
  .mb-xxl-3,
  .my-xxl-3 {
    margin-bottom: 1rem !important; }
  .mr-xxl-3,
  .mx-xxl-3 {
    margin-right: 1rem !important; }
  .ml-xxl-3,
  .mx-xxl-3 {
    margin-left: 1rem !important; } }

@media (min-width: 1500px) {
  .m-xxl-4 {
    margin: 1.5rem !important; }
  .mt-xxl-4,
  .my-xxl-4 {
    margin-top: 1.5rem !important; }
  .mb-xxl-4,
  .my-xxl-4 {
    margin-bottom: 1.5rem !important; }
  .mr-xxl-4,
  .mx-xxl-4 {
    margin-right: 1.5rem !important; }
  .ml-xxl-4,
  .mx-xxl-4 {
    margin-left: 1.5rem !important; } }

@media (min-width: 1500px) {
  .m-xxl-5 {
    margin: 3rem !important; }
  .mt-xxl-5,
  .my-xxl-5 {
    margin-top: 3rem !important; }
  .mb-xxl-5,
  .my-xxl-5 {
    margin-bottom: 3rem !important; }
  .mr-xxl-5,
  .mx-xxl-5 {
    margin-right: 3rem !important; }
  .ml-xxl-5,
  .mx-xxl-5 {
    margin-left: 3rem !important; } }

@media (min-width: 1500px) {
  .p-xxl-0 {
    padding: 0 !important; }
  .pt-xxl-0,
  .py-xxl-0 {
    padding-top: 0 !important; }
  .pb-xxl-0,
  .py-xxl-0 {
    padding-bottom: 0 !important; }
  .pr-xxl-0,
  .px-xxl-0 {
    padding-right: 0 !important; }
  .pl-xxl-0,
  .px-xxl-0 {
    padding-left: 0 !important; } }

@media (min-width: 1500px) {
  .p-xxl-1 {
    padding: 0.25rem !important; }
  .pt-xxl-1,
  .py-xxl-1 {
    padding-top: 0.25rem !important; }
  .pb-xxl-1,
  .py-xxl-1 {
    padding-bottom: 0.25rem !important; }
  .pr-xxl-1,
  .px-xxl-1 {
    padding-right: 0.25rem !important; }
  .pl-xxl-1,
  .px-xxl-1 {
    padding-left: 0.25rem !important; } }

@media (min-width: 1500px) {
  .p-xxl-2 {
    padding: 0.5rem !important; }
  .pt-xxl-2,
  .py-xxl-2 {
    padding-top: 0.5rem !important; }
  .pb-xxl-2,
  .py-xxl-2 {
    padding-bottom: 0.5rem !important; }
  .pr-xxl-2,
  .px-xxl-2 {
    padding-right: 0.5rem !important; }
  .pl-xxl-2,
  .px-xxl-2 {
    padding-left: 0.5rem !important; } }

@media (min-width: 1500px) {
  .p-xxl-3 {
    padding: 1rem !important; }
  .pt-xxl-3,
  .py-xxl-3 {
    padding-top: 1rem !important; }
  .pb-xxl-3,
  .py-xxl-3 {
    padding-bottom: 1rem !important; }
  .pr-xxl-3,
  .px-xxl-3 {
    padding-right: 1rem !important; }
  .pl-xxl-3,
  .px-xxl-3 {
    padding-left: 1rem !important; } }

@media (min-width: 1500px) {
  .p-xxl-4 {
    padding: 1.5rem !important; }
  .pt-xxl-4,
  .py-xxl-4 {
    padding-top: 1.5rem !important; }
  .pb-xxl-4,
  .py-xxl-4 {
    padding-bottom: 1.5rem !important; }
  .pr-xxl-4,
  .px-xxl-4 {
    padding-right: 1.5rem !important; }
  .pl-xxl-4,
  .px-xxl-4 {
    padding-left: 1.5rem !important; } }

@media (min-width: 1500px) {
  .p-xxl-5 {
    padding: 3rem !important; }
  .pt-xxl-5,
  .py-xxl-5 {
    padding-top: 3rem !important; }
  .pb-xxl-5,
  .py-xxl-5 {
    padding-bottom: 3rem !important; }
  .pr-xxl-5,
  .px-xxl-5 {
    padding-right: 3rem !important; }
  .pl-xxl-5,
  .px-xxl-5 {
    padding-left: 3rem !important; } }

.hidden {
  visibility: hidden; }

.d-block {
  display: block !important; }

.d-inline-block {
  display: inline-block !important; }

.d-flex {
  display: flex !important; }

.d-none {
  display: none !important; }

@media (min-width: 576px) {
  .d-sm-block {
    display: block !important; }
  .d-sm-inline-block {
    display: inline-block !important; }
  .d-sm-flex {
    display: flex !important; }
  .d-sm-none {
    display: none !important; } }

@media (min-width: 768px) {
  .d-md-block {
    display: block !important; }
  .d-md-inline-block {
    display: inline-block !important; }
  .d-md-flex {
    display: flex !important; }
  .d-md-none {
    display: none !important; } }

@media (min-width: 1024px) {
  .d-lg-block {
    display: block !important; }
  .d-lg-inline-block {
    display: inline-block !important; }
  .d-lg-flex {
    display: flex !important; }
  .d-lg-none {
    display: none !important; } }

@media (min-width: 1400px) {
  .d-xl-block {
    display: block !important; }
  .d-xl-inline-block {
    display: inline-block !important; }
  .d-xl-flex {
    display: flex !important; }
  .d-xl-none {
    display: none !important; } }

@media (min-width: 1500px) {
  .d-xxl-block {
    display: block !important; }
  .d-xxl-inline-block {
    display: inline-block !important; }
  .d-xxl-flex {
    display: flex !important; }
  .d-xxl-none {
    display: none !important; } }

.flex-row-sa {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.justify-content-start {
  justify-content: flex-start !important; }

.justify-content-end {
  justify-content: flex-end !important; }

.justify-content-center {
  justify-content: center !important; }

.justify-content-between {
  justify-content: space-between !important; }

.justify-content-around {
  justify-content: space-around !important; }

.align-items-start {
  align-items: flex-start !important; }

.align-items-end {
  align-items: flex-end !important; }

.align-items-center {
  align-items: center !important; }

.align-items-baseline {
  align-items: baseline !important; }

.align-items-stretch {
  align-items: stretch !important; }

.align-content-start {
  align-content: flex-start !important; }

.align-content-end {
  align-content: flex-end !important; }

.align-content-center {
  align-content: center !important; }

.align-content-between {
  align-content: space-between !important; }

.align-content-around {
  align-content: space-around !important; }

.align-content-stretch {
  align-content: stretch !important; }

.align-self-auto {
  align-self: auto !important; }

.align-self-start {
  align-self: flex-start !important; }

.align-self-end {
  align-self: flex-end !important; }

.align-self-center {
  align-self: center !important; }

.align-self-baseline {
  align-self: baseline !important; }

.align-self-stretch {
  align-self: stretch !important; }

.align-baseline {
  vertical-align: baseline !important; }

.align-top {
  vertical-align: top !important; }

.align-middle {
  vertical-align: middle !important; }

.align-bottom {
  vertical-align: bottom !important; }

.align-text-bottom {
  vertical-align: text-bottom !important; }

.align-text-top {
  vertical-align: text-top !important; }

.rounded-2 {
  border-radius: 4px; }

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s cubic-bezier(0.35, 0, 0, 1.01); }

.fade-enter,
.fade-leave-to {
  opacity: 0; }

.order-first {
  order: -1 !important; }

.order-0 {
  order: 0 !important; }

.order-1 {
  order: 1 !important; }

.order-2 {
  order: 2 !important; }

.order-3 {
  order: 3 !important; }

.order-4 {
  order: 4 !important; }

.order-5 {
  order: 5 !important; }

.order-last {
  order: 6 !important; }

@media (min-width: 576px) {
  .order-sm-first {
    order: -1 !important; } }

@media (min-width: 576px) {
  .order-sm-0 {
    order: 0 !important; } }

@media (min-width: 576px) {
  .order-sm-1 {
    order: 1 !important; } }

@media (min-width: 576px) {
  .order-sm-2 {
    order: 2 !important; } }

@media (min-width: 576px) {
  .order-sm-3 {
    order: 3 !important; } }

@media (min-width: 576px) {
  .order-sm-4 {
    order: 4 !important; } }

@media (min-width: 576px) {
  .order-sm-5 {
    order: 5 !important; } }

@media (min-width: 576px) {
  .order-sm-last {
    order: 6 !important; } }

@media (min-width: 768px) {
  .order-md-first {
    order: -1 !important; } }

@media (min-width: 768px) {
  .order-md-0 {
    order: 0 !important; } }

@media (min-width: 768px) {
  .order-md-1 {
    order: 1 !important; } }

@media (min-width: 768px) {
  .order-md-2 {
    order: 2 !important; } }

@media (min-width: 768px) {
  .order-md-3 {
    order: 3 !important; } }

@media (min-width: 768px) {
  .order-md-4 {
    order: 4 !important; } }

@media (min-width: 768px) {
  .order-md-5 {
    order: 5 !important; } }

@media (min-width: 768px) {
  .order-md-last {
    order: 6 !important; } }

@media (min-width: 1024px) {
  .order-lg-first {
    order: -1 !important; } }

@media (min-width: 1024px) {
  .order-lg-0 {
    order: 0 !important; } }

@media (min-width: 1024px) {
  .order-lg-1 {
    order: 1 !important; } }

@media (min-width: 1024px) {
  .order-lg-2 {
    order: 2 !important; } }

@media (min-width: 1024px) {
  .order-lg-3 {
    order: 3 !important; } }

@media (min-width: 1024px) {
  .order-lg-4 {
    order: 4 !important; } }

@media (min-width: 1024px) {
  .order-lg-5 {
    order: 5 !important; } }

@media (min-width: 1024px) {
  .order-lg-last {
    order: 6 !important; } }

@media (min-width: 1400px) {
  .order-xl-first {
    order: -1 !important; } }

@media (min-width: 1400px) {
  .order-xl-0 {
    order: 0 !important; } }

@media (min-width: 1400px) {
  .order-xl-1 {
    order: 1 !important; } }

@media (min-width: 1400px) {
  .order-xl-2 {
    order: 2 !important; } }

@media (min-width: 1400px) {
  .order-xl-3 {
    order: 3 !important; } }

@media (min-width: 1400px) {
  .order-xl-4 {
    order: 4 !important; } }

@media (min-width: 1400px) {
  .order-xl-5 {
    order: 5 !important; } }

@media (min-width: 1400px) {
  .order-xl-last {
    order: 6 !important; } }

@media (min-width: 1500px) {
  .order-xxl-first {
    order: -1 !important; } }

@media (min-width: 1500px) {
  .order-xxl-0 {
    order: 0 !important; } }

@media (min-width: 1500px) {
  .order-xxl-1 {
    order: 1 !important; } }

@media (min-width: 1500px) {
  .order-xxl-2 {
    order: 2 !important; } }

@media (min-width: 1500px) {
  .order-xxl-3 {
    order: 3 !important; } }

@media (min-width: 1500px) {
  .order-xxl-4 {
    order: 4 !important; } }

@media (min-width: 1500px) {
  .order-xxl-5 {
    order: 5 !important; } }

@media (min-width: 1500px) {
  .order-xxl-last {
    order: 6 !important; } }

.w-100 {
  width: 100%; }

.h-100 {
  height: 100%; }

.w-50__exclude-gutter {
  width: calc(50% - 20px); }
  @media (min-width: 576px) {
    .w-50__exclude-gutter {
      width: calc(50% - 24px); } }
  @media (min-width: 768px) {
    .w-50__exclude-gutter {
      width: calc(50% - 30px); } }
  @media (min-width: 1024px) {
    .w-50__exclude-gutter {
      width: calc(50% - 32px); } }
  @media (min-width: 1400px) {
    .w-50__exclude-gutter {
      width: calc(50% - 34px); } }
  @media (min-width: 1500px) {
    .w-50__exclude-gutter {
      width: calc(50% - 36px); } }

.w-50__include-gutter {
  width: calc(50% + 20px); }
  @media (min-width: 576px) {
    .w-50__include-gutter {
      width: calc(50% + 24px); } }
  @media (min-width: 768px) {
    .w-50__include-gutter {
      width: calc(50% + 30px); } }
  @media (min-width: 1024px) {
    .w-50__include-gutter {
      width: calc(50% + 32px); } }
  @media (min-width: 1400px) {
    .w-50__include-gutter {
      width: calc(50% + 34px); } }
  @media (min-width: 1500px) {
    .w-50__include-gutter {
      width: calc(50% + 36px); } }

.block-shift__title {
  font-size: 24px; }
  @media (min-width: 768px) {
    .block-shift__title {
      font-size: 40px; } }
  @media (min-width: 1400px) {
    .block-shift__title {
      font-size: 60px; } }

.block-shift__desc {
  font-size: 15px;
  line-height: 160%; }
  @media (min-width: 768px) {
    .block-shift__desc {
      font-size: 18px; } }

.block-shift-img {
  margin-bottom: 35px; }
  @media (min-width: 768px) {
    .block-shift-img {
      margin-bottom: 86px; } }
  .block-shift-img .block-shift__grid {
    display: flex;
    flex-direction: column; }
    @media (min-width: 1024px) {
      .block-shift-img .block-shift__grid {
        display: grid; } }
  .block-shift-img .block-shift__title {
    margin-bottom: 24px; }
    @media (min-width: 1024px) {
      .block-shift-img .block-shift__title {
        margin-bottom: 0; } }
  .block-shift-img .block-shift__desc {
    background: white;
    border-radius: 0 0 4px 4px;
    padding: 30px 15px 30px 30px; }
    @media (min-width: 576px) {
      .block-shift-img .block-shift__desc {
        padding: 40px 15px 40px 30px; } }
    @media (min-width: 1024px) {
      .block-shift-img .block-shift__desc {
        border-radius: 4px;
        padding: 60px 100px 80px 60px; } }
    @media (min-width: 1400px) {
      .block-shift-img .block-shift__desc {
        padding-top: 60px; } }
    .block-shift-img .block-shift__desc p {
      margin-bottom: 18px; }
      @media (min-width: 1024px) {
        .block-shift-img .block-shift__desc p {
          margin-bottom: 24px; } }
      .block-shift-img .block-shift__desc p:last-child {
        margin-bottom: 0; }
  .block-shift-img .block-shift__img {
    line-height: 0;
    overflow: hidden;
    z-index: 10;
    display: flex;
    align-items: center;
    height: 160px; }
    @media (min-width: 576px) {
      .block-shift-img .block-shift__img {
        height: 200px; } }
    @media (min-width: 768px) {
      .block-shift-img .block-shift__img {
        height: 260px; } }
    @media (min-width: 1024px) {
      .block-shift-img .block-shift__img {
        display: block;
        height: auto; } }
    .block-shift-img .block-shift__img img {
      box-shadow: 0 9px 40px 0 rgba(22, 29, 38, 0.05);
      width: 100%;
      border-radius: 4px 4px 0 0; }
      @media (min-width: 1024px) {
        .block-shift-img .block-shift__img img {
          border-radius: 4px; } }

.block-shift-img__inner-title .block-shift__title {
  margin-top: 0;
  margin-bottom: 1em; }

@media (min-width: 1024px) {
  .block-shift-img__inner-title .block-shift__grid {
    grid-template: 356px 125px auto/100px auto 100px; } }

@media (min-width: 1024px) and (max-width: 1399px) {
  .block-shift-img__inner-title .block-shift__grid .block-shift__img {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3; } }

@media (min-width: 1024px) and (max-width: 1399px) {
  .block-shift-img__inner-title .block-shift__grid .block-shift__desc {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 175px 100px 60px; } }

@media (min-width: 1400px) {
  .block-shift-img__inner-title.block-right-img-shift .block-shift__grid {
    grid-template: 50px auto 50px/678px 80px auto; } }

@media (min-width: 1500px) {
  .block-shift-img__inner-title.block-right-img-shift .block-shift__grid {
    grid-template: 50px auto 50px/678px 50px auto; } }

@media (min-width: 1400px) {
  .block-shift-img__inner-title.block-left-img-shift .block-shift__grid {
    grid-template: 50px auto 50px/auto 80px 678px; } }

@media (min-width: 1500px) {
  .block-shift-img__inner-title.block-left-img-shift .block-shift__grid {
    grid-template: 50px auto 50px/auto 50px 678px; } }

.block-right-img-shift .block-shift__desc {
  order: 2; }
  @media (min-width: 1400px) {
    .block-right-img-shift .block-shift__desc {
      grid-row-start: 2;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 3;
      padding-left: 60px; } }

.block-right-img-shift .block-shift__img {
  order: 1; }
  @media (min-width: 1400px) {
    .block-right-img-shift .block-shift__img {
      margin-bottom: 0;
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 4; } }

.block-left-img-shift .block-shift__desc {
  order: 2; }
  @media (min-width: 1400px) {
    .block-left-img-shift .block-shift__desc {
      grid-row-start: 2;
      grid-row-end: 4;
      grid-column-start: 2;
      grid-column-end: 4;
      padding: 60px 40px 60px 120px; } }

.block-left-img-shift .block-shift__img {
  order: 1; }
  @media (min-width: 1400px) {
    .block-left-img-shift .block-shift__img {
      margin-bottom: 0;
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 3; } }

@media (min-width: 1024px) {
  .block-shift-img__outer-title .block-shift__grid {
    grid-template: 75px 356px 125px auto/100px auto 100px; } }

@media (min-width: 1400px) {
  .block-shift-img__outer-title.block-left-img-shift .block-shift__grid {
    grid-template: 105px auto 75px/auto 50px 638px; } }

@media (min-width: 1500px) {
  .block-shift-img__outer-title.block-left-img-shift .block-shift__grid {
    grid-template: 105px auto 75px/auto 50px 678px; } }

@media (min-width: 1400px) {
  .block-shift-img__outer-title.block-right-img-shift .block-shift__grid {
    grid-template: 105px auto 75px/638px 50px auto; } }

@media (min-width: 1500px) {
  .block-shift-img__outer-title.block-right-img-shift .block-shift__grid {
    grid-template: 105px auto 75px/678px 50px auto; } }

.block-shift-img__outer-title .block-shift__title {
  order: 1; }
  @media (min-width: 1024px) {
    .block-shift-img__outer-title .block-shift__title {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 3; } }

.block-shift-img__outer-title .block-shift__img {
  order: 2; }
  @media (min-width: 1024px) and (max-width: 1399px) {
    .block-shift-img__outer-title .block-shift__img {
      grid-row-start: 2;
      grid-row-end: 4;
      grid-column-start: 2;
      grid-column-end: 3; } }

.block-shift-img__outer-title .block-shift__desc {
  order: 3; }
  @media (min-width: 1024px) and (max-width: 1399px) {
    .block-shift-img__outer-title .block-shift__desc {
      grid-row-start: 3;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 4;
      padding: 175px 100px 60px; } }

@media (min-width: 1024px) {
  .block-shift-img__outer-title.block-right-img-shift .block-shift__title {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3; } }

@media (min-width: 1400px) {
  .block-shift-img__outer-title.block-right-img-shift .block-shift__title {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 60px; } }

@media (min-width: 1400px) {
  .block-shift-img__outer-title.block-left-img-shift .block-shift__title {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    margin-left: 60px; } }

body {
  padding-top: 50px;
  background: #e5e7eb; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  color: #161D26; }

p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  color: #161D26; }
